<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


  <title>Epic Fantasy City Lore definition</title>


</head>
<body>
<div class="row">

<section id="cityurl">
	<table class="stat-table">
		<caption class="hidden">URL</caption>
		<thead>	
			<tr>
				<th>City URL</th>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<td><input class=row id="url"></input></td>
			</tr>
		</tbody>
  </table>

	<section id="generate">
		<h4 class="button">Generate</h4>
			<button class="btn btn-success">Generate</button>
		</section>
	<section id="story">
	<h2 class="hidden">Story</h2>
		<p style="font-style: italic;">
			[Blurb of your story]
		</p>
	</section>
</section>
</div>
